.HButton_container {
  width: auto;
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
}

.HButton {
  display: flex;
  justify-content: center;

  background-color: white;
  width: auto;
  border: solid 2px blue;
  border-radius: 50px;
  padding: 10px;
  font-family: "eurostile", sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
}

.HButton a {
  text-decoration: none;
}

.HButton:hover {
  background-color: #7510f7;
  color: white;
  border: solid 2px;
  transition: 0.3s;
}

.HButton a:hover {
  color: white;

  transition: 0.3s;
}
